[defaults]
inventory = hosts.yml
vault_password_file = ~/.ansible_vault_pass.txt
become_password_file = ~/.ansible_become_pass.txt
host_key_check = no
retry_files_enabled = no
stdout_callback = changed

[diff]
always = yes
