[user]
  name = diartyz
  email = diartyz@gmail.com
[core]
	ignorecase = false
  pager = diff-so-fancy | less -RFX
	quotepath = false
[includeIf "gitdir:~/Work/"]
  path = .gitconfig-work
[includeIf "gitdir:~/Zenvy/"]
  path = .gitconfig-zenvy
[diff]
  tool = meld
[difftool "meld"]
  cmd = {{ meld }} $LOCAL $REMOTE
[init]
	defaultBranch = master
[merge]
  tool = meld
[mergetool]
  keepBackup = false
[mergetool "meld"]
  cmd = {{ meld }} $LOCAL $BASE $REMOTE --output $MERGED --auto-merge
[mergetool "vscode"]
  cmd = code --wait --merge $LOCAL $REMOTE $BASE $MERGED
[pull]
	ff = only
[push]
	recurseSubmodules = on-demand
[submodule]
	recurse = true
[diff-so-fancy]
	markEmptyLines = false
