{
  "alibaba-cn": {
    "type": "api",
    "key": "{{ alibaba_api_key }}"
  },
  "zai-coding-plan": {
    "type": "api",
    "key": "{{ zai_api_key }}"
  },
  "zhipuai-coding-plan": {
    "type": "api",
    "key": "{{ zhipuai_api_key }}"
  }
}
