{
  "$schema": "https://json.schemastore.org/claude-code-settings.json",
  "env": {
    "ANTHROPIC_AUTH_TOKEN": "{{ claude_auth_token }}",
    "ANTHROPIC_BASE_URL": "https://open.bigmodel.cn/api/anthropic",
    "API_TIMEOUT_MS": "3000000",
    "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": "1",
    "ANTHROPIC_DEFAULT_OPUS_MODEL": "glm-5-turbo",
    "ANTHROPIC_DEFAULT_SONNET_MODEL": "glm-5.1",
    "ANTHROPIC_DEFAULT_HAIKU_MODEL": "glm-5"
  },
  "permissions": {
    "defaultMode": "auto"
  },
  "enabledPlugins": {
    "clangd-lsp@claude-plugins-official": true
  },
  "language": "chinese",
  "skipDangerousModePermissionPrompt": true,
  "skipAutoPermissionPrompt": true
}
