{
  "$schema": "https://opencode.ai/config.json",
  "default_agent": "plan",
  "formatter": false,
  "permission": "allow",
  "plugin": ["oh-my-openagent@latest"],
  "mcp": {
    "ddg-search": {
      "enabled": false,
      "type": "local",
      "command": ["uvx", "duckduckgo-mcp-server"]
    },
    "exa": {
      "enabled": false,
      "type": "local",
      "command": ["npx", "-y", "exa-mcp-server"],
      "environment": {
        "EXA_API_KEY": "{{ exa_api_key }}"
      }
    },
    "gitcode": {
      "enabled": false,
      "type": "local",
      "command": ["gitcode-mcp"],
      "environment": {
        "GITCODE_TOKEN": "{{ gitcode_token }}"
      }
    },
    "playwright": {
      "enabled": false,
      "type": "local",
      "command": ["npx", "@playwright/mcp@latest"]
    },
    "tavily": {
      "enabled": false,
      "type": "remote",
      "url": "https://mcp.tavily.com/mcp/?tavilyApiKey={{ tavily_api_key }}"
    }
  }
}
