{
  "$schema": "https://opencode.ai/config.json",
  "default_agent": "plan",
  "formatter": false,
  "permission": "allow",
  "mcp": {
    "gitcode": {
      "type": "local",
      "command": ["gitcode-mcp"],
      "environment": {
        "GITCODE_TOKEN": "{{ gitcode_token }}",
        "GITCODE_API_URL": "https://api.gitcode.com/api/v5"
      }
    }
  },
  "provider": {
    "myprovider": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "volcengine",
      "options": {
        "baseURL": "https://ark.cn-beijing.volces.com/api/v3",
        "apiKey": "{{ volcengine_api_key }}"
      },
      "models": {
        "ep-20260210181205-5qxjt": {
          "name": "GLM-4.7-ep-20260210181205-5qxjt"
        }
      }
    }
  }
}
