{
  "ali": {
    "type": "api_key",
    "key": "{{ alibaba_api_key }}"
  },
  "deepseek": {
    "type": "api_key",
    "key": "{{ deepseek_api_key }}"
  },
  "zai-coding-cn": {
    "type": "api_key",
    "key": "{{ zhipuai_api_key }}"
  }
}
