{
  "mcpServers": {
    "context7": {
      "args": ["-y", "@upstash/context7-mcp@latest", "--api-key", "{{ context7_api_key }}"],
      "command": "npx",
      "enabled": false,
      "env": {},
      "type": "stdio"
    },
    "exa": {
      "args": ["-y", "exa-mcp-server@latest"],
      "command": "npx",
      "enabled": false,
      "env": {
        "EXA_API_KEY": "{{ exa_api_key }}"
      },
      "type": "stdio"
    },
    "gitcode": {
      "enabled": false,
      "headers": {
        "Authorization": "Bearer {{ gitcode_token }}"
      },
      "type": "http",
      "url": "https://api.gitcode.com/mcp-server/v1/mcp"
    },
    "minimax": {
      "args": ["minimax-coding-plan-mcp", "-y"],
      "command": "uvx",
      "enabled": false,
      "env": {
        "MINIMAX_API_HOST": "https://api.minimaxi.com",
        "MINIMAX_API_KEY": "{{ minimax_api_key }}"
      },
      "type": "stdio"
    },
    "playwright": {
      "args": ["@playwright/mcp@latest"],
      "command": "npx",
      "enabled": false,
      "env": {},
      "type": "stdio"
    },
    "tavily": {
      "enabled": false,
      "type": "http",
      "url": "https://mcp.tavily.com/mcp/?tavilyApiKey={{ tavily_api_key }}"
    },
    "web-reader": {
      "headers": {
        "Authorization": "Bearer {{ zhipuai_api_key }}"
      },
      "type": "http",
      "url": "https://open.bigmodel.cn/api/mcp/web_reader/mcp"
    },
    "web-search-prime": {
      "headers": {
        "Authorization": "Bearer {{ zhipuai_api_key }}"
      },
      "type": "http",
      "url": "https://open.bigmodel.cn/api/mcp/web_search_prime/mcp"
    },
    "zai-mcp-server": {
      "args": ["-y", "@z_ai/mcp-server"],
      "command": "npx",
      "env": {
        "Z_AI_API_KEY": "{{ zhipuai_api_key }}",
        "Z_AI_MODE": "ZHIPU"
      },
      "type": "stdio"
    },
    "zread": {
      "headers": {
        "Authorization": "Bearer {{ zhipuai_api_key }}"
      },
      "type": "http",
      "url": "https://open.bigmodel.cn/api/mcp/zread/mcp"
    }
  }
}
