{
  "lastChangelogVersion": "0.82.0",
  "branchSummary": {
    "skipPrompt": true
  },
  "defaultModel": "glm-5.2",
  "defaultProvider": "ali",
  "defaultThinkingLevel": "max",
  "keybindings": {
    "app.message.followUp": [
      "shift+enter"
    ],
    "tui.input.newLine": [
      "ctrl+j"
    ]
  },
  "packages": [
    "npm:pi-mcp-extension"
  ],
  "theme": "light",
  "treeFilterMode": "user-only"
}
