{
  "branchSummary": {
    "skipPrompt": true
  },
  "defaultModel": "glm-5.2",
  "defaultProvider": "ali",
  "defaultThinkingLevel": "max",
  "followUpMode": "all",
  "lastChangelogVersion": "0.84.1",
  "packages": [
    "npm:pi-mcp-extension"
  ],
  "retry": {
    "enabled": true,
    "maxRetries": 9
  },
  "steeringMode": "all",
  "theme": "light",
  "treeFilterMode": "user-only",
  "tuiMode": "fullscreen"
}
