snippet storybook "" b
import { ComponentMeta, ComponentStory } from '@storybook/react'
import { $1 } from './$1'

export default {
	title: '$2/$1',
  component: $1,
} as ComponentMeta<typeof $1>

export const Default: ComponentStory<typeof $1> = (args) => (
  <$1 {...args}>
		$3
	</$1>
)
Default.args = {
	$0
}
endsnippet
