[Unit]
Description=Clash daemon
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/bin/clash-meta -d /etc/clash

[Install]
WantedBy=multi-user.target
